{% extends "base.html" %}

{% block title %}Sol - Transforme sua Operação Agrícola{% endblock %}

{% block extra_head %}
<style>
    .card {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 50px;
        background: linear-gradient(to left, rgba(255, 255, 255, 0) 20%, rgb(19, 31, 7) 80%),
        url("{{ url_for('static', filename='images/colheitadeira.jpg') }}");
        background-position: right center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 70vh;
        width: 100%;
    }

    .card-content {
        max-width: 40%;
    }

    .card-content h1 {
        margin-bottom: 20px;
        color: var(--pico-primary-inverse);
    }

    .card-content p {
        color: var(--pico-primary-inverse);
        margin-bottom: 0;
    }

    .main-content {
        margin-top: 2.4rem;
    }
</style>
{% endblock %}

{% block content %}
<div class="dashboard-header card">
    <div class="card-content">
        <h1>Transforme sua operação agrícola com mais eficiência e melhores resultados</h1>
        <p>Na Sol, acreditamos que quanto mais conseguimos enxergar da sua operação, mais valor podemos entregar.
            Utilizando dados em tempo real, ajudamos a aumentar seu <em>ROI</em> e reduzir o uso de recursos por
            hectare. Nossa inteligência auxilia sua equipe a tomar decisões mais precisas, resultando em uma operação
            agrícola mais eficiente e financeiramente sólida.</p>
    </div>
</div>

<div  class="main-content container">
    <h2>Nossa proposta para sua fazenda:</h2>
    <ul>
        <li>Aumente sua eficiência operacional</li>
        <li>Reduza o uso de insumos e recursos</li>
        <li>Melhore suas condições financeiras com crédito e seguro inteligentes</li>
    </ul>
    <p>Tudo isso com o suporte da <em>mais avançada tecnologia em AI/ML</em> e de uma equipe especializada.</p>

    <h2>Como fazemos isso?</h2>
    <p>Combinamos inteligência de <em>máquinas, cultivares, defensivos, fertilizantes e clima</em> para ajudar sua
        equipe a operar com mais eficiência e precisão. Nossa solução ajusta as práticas da fazenda para garantir maior
        retorno, com rotinas automatizadas e relatórios personalizados, sempre pensando no seu sucesso.</p>

    <h2>Planos disponíveis:</h2>

    <h3>Freemium</h3>
    <p>Ideal para quem está começando, o plano Freemium oferece sugestões de rotinas e ajustes que tornam sua operação
        mais eficiente, com base nos parâmetros utilizados pelas melhores fazendas do mundo. Essas rotinas e ajustes são
        entregues diretamente aos colaboradores responsáveis, ajudando-os a seguir os processos recomendados. Além
        disso, auxiliamos na criação de relatórios que garantem o bom uso dos recursos. Essas soluções não se limitam
        apenas ao mundo de máquinas, mas abrangem toda a operação agrícola.</p>

    <h3>Básico</h3>
    <p>No plano Básico, você terá acesso a todos os benefícios do plano Freemium, com a vantagem adicional de receber
        ajustes e rotinas <em>personalizadas</em> para a sua operação, utilizando dados em tempo real. Isso significa
        que podemos monitorar o que está acontecendo em sua fazenda e fornecer sugestões mais precisas e preditivas,
        adaptadas ao que sua operação realmente necessita. O plano Básico visa otimizar não apenas o uso das máquinas,
        mas toda a sua operação agrícola, oferecendo suporte contínuo para garantir os melhores resultados.</p>

    <h3>Premium</h3>
    <p>O plano Premium inclui tudo o que o plano Básico oferece, mas vai além, proporcionando suporte adicional por meio
        de uma <em>equipe de especialistas</em> que supervisionam os aspectos vitais da sua operação. Esse
        acompanhamento especializado garante uma gestão mais eficiente e precisa, com a possibilidade de contar com uma
        equipe in loco para treinamento e monitoramento. O plano Premium é voltado para quem busca maximizar o
        desempenho em todas as áreas da fazenda, contando com a inteligência mais avançada e suporte de alto nível.</p>

    <h2>Crédito e Seguro Inteligente</h2>
    <p>Com o entendimento profundo da sua operação, nossos algoritmos avaliam a <em>eficiência da fazenda, como seus
            ativos e bens</em> estão sendo utilizados, a qualidade das rotinas de manutenção e operação, e a eficácia
        das suas decisões diárias. Ao capturarmos esses dados, conseguimos criar uma visão precisa de como sua fazenda
        está acima da média em termos de <em>eficiência e boas práticas</em>.</p>
    <p>Esse conhecimento nos permite oferecer <strong>condições diferenciadas de crédito e seguro</strong>, garantindo
        que sua operação seja reconhecida pelo bom uso de recursos e pela gestão otimizada. Dessa forma, você pode
        contar com soluções financeiras mais adequadas e ajustadas às necessidades específicas da sua fazenda.</p>
    <p><strong>Interessado?</strong><br>
        <a href="#formulario">Quero melhores condições de crédito e seguro</a>
    </p>

    <h2>Sobre a Sol</h2>
    <p>A Sol é uma empresa comprometida em atrair os melhores parceiros e soluções para entregar o máximo valor ao
        produtor rural. Com um olhar criterioso e trazendo especialistas de cada área, avançamos na construção de uma
        solução sistêmica que une <em>operação agrícola, crédito e seguro</em>.</p>
    <p>Hoje, temos mais de 12 milhões de hectares cobertos por nossas soluções de digitalização e conectividade, prontos
        para entregar inteligência e resultados para sua fazenda.</p>
    <p><strong>Vamos conversar?</strong><br>
        <a href="#contato">Entre em contato</a>
    </p>

    <p><strong>Experimente agora mesmo!</strong><br>
        <a href="#cadastro">Cadastre-se gratuitamente</a> para começar com nosso Plano Freemium e veja como podemos
        transformar sua operação.
    </p>
</div>

{% endblock %}
