{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container container">
    <div class="login-box">
        <h2>Login</h2>

        <!-- Exibir mensagem de erro, se houver -->
        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% endif %}

        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Usuário" required>
            <input type="password" name="password" placeholder="Senha" required>
            <button type="submit">Login</button>
        </form>
        <a href="{{ url_for('register') }}">Não tem uma conta? Registre-se</a>
    </div>
</div>
{% endblock %}
