{% extends "base.html" %}

{% block title %}Dados Pessoais{% endblock %}

{% block content %}
<body>
    <h1>Dados Pessoais</h1>
    <form method="POST" action="{{ url_for('dados_pessoais') }}">
        <label for="full_name">Nome Completo:</label><br>
        <input type="text" name="full_name" value="{{ full_name }}"><br><br>

        <label for="endereco">Endereço:</label><br>
        <input type="text" name="endereco" value="{{ endereco }}"><br><br>

        <label for="tamanho_fazenda">Tamanho da Fazenda (hectares):</label><br>
        <input type="number" name="tamanho_fazenda" value="{{ tamanho_fazenda }}"><br><br>

        <label for="tipo_cultivo">Tipo de Cultivo:</label><br>
        <input type="text" name="tipo_cultivo" value="{{ tipo_cultivo }}"><br><br>

        <label for="sistema_irrigacao">Sistema de Irrigação:</label><br>
        <input type="text" name="sistema_irrigacao" value="{{ sistema_irrigacao }}"><br><br>

        <label for="numero_funcionarios">Número de Funcionários:</label><br>
        <input type="number" name="numero_funcionarios" value="{{ numero_funcionarios }}"><br><br>

        <label for="historico_pesticidas">Histórico de Pesticidas:</label><br>
        <textarea name="historico_pesticidas">{{ historico_pesticidas }}</textarea><br><br>

        <label for="observacoes">Observações:</label><br>
        <textarea name="observacoes">{{ observacoes }}</textarea><br><br>

        <button type="submit">Salvar</button>
    </form>
</body>


{% endblock %}
