{% extends "base.html" %}

{% block title %}Pessoas Auxiliares{% endblock %}

{% block extra_head %}
<script>
    function addAuxiliaryPerson() {
        let container = document.getElementById('auxiliary-people-container');
        let index = container.children.length;

        let divBlock = document.createElement('div');
        divBlock.className = 'auxiliary-person-block';

        let div = document.createElement('div');
        div.className = 'auxiliary-person';
        div.innerHTML = `
            <div class="column"><input type="text" name="auxiliary_name_${index}" placeholder="Nome" required>
            <input type="email" name="auxiliary_email_${index}" placeholder="Email" required></div>
            <div class="column"><input type="tel" name="auxiliary_celular_${index}" placeholder="Celular" pattern="\\d{10,11}" required>
            <input type="text" name="auxiliary_chat_id_${index}" placeholder="Chat ID"></div>
            <div class="dropdown-column"><select name="auxiliary_role_${index}" required>
                <option value="gerente">Gerente</option>
                <option value="motorista">Motorista</option>
            </select>
            <button type="button" class="btn-remove" onclick="removeAuxiliaryPerson(this)">Remover</button></div>
        `;
        divBlock.appendChild(div);
        container.appendChild(divBlock);
    }

    function removeAuxiliaryPerson(button) {
        let divBlock = button.closest('.auxiliary-person-block');
        divBlock.remove();
    }
</script>

<style>
    .auxiliary-people-container h2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .auxiliary-person .column {
        display: flex;
        justify-content: space-between;
    }

    .auxiliary-person .column input {
        width: 49%;
    }

    .auxiliary-person .dropdown-column {
        display: flex;
        justify-content: space-between;
    }

    .auxiliary-person .dropdown-column select {
        margin-right: 20px;
    }

    .auxiliary-person-block {
        margin-bottom: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #ccc;
        /* Adiciona a linha divisória */
    }

    .add-button-wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
</style>
{% endblock %}

{% block content %}
<main class="container">
    <div class="auxiliary-people-container">
        <h2>Pessoas Auxiliares</h2>
        {% if success_message %}
        <p class="success-message">{{ success_message }}</p>
        {% endif %}
        {% if error_message %}
        <p class="error-message">{{ error_message }}</p>
        {% endif %}

        <form action="/pessoas_auxiliares" method="POST">
            <div id="auxiliary-people-container">
                <!-- Pessoas auxiliares já cadastradas -->
                {% for person in auxiliaries %}
                <div class="auxiliary-person-block">
                    <div class="auxiliary-person">
                        <div class="column">
                            <input type="text" name="auxiliary_name_{{ loop.index0 }}" value="{{ person['name'] }}"
                                placeholder="Nome" required>
                            <input type="email" name="auxiliary_email_{{ loop.index0 }}" value="{{ person['email'] }}"
                                placeholder="Email" required>
                        </div>
                        <div class="column">
                            <input type="tel" name="auxiliary_celular_{{ loop.index0 }}" value="{{ person['celular'] }}"
                                placeholder="Celular" required>
                            <input type="text" name="auxiliary_chat_id_{{ loop.index0 }}"
                                value="{{ person['chat_id'] }}" placeholder="Chat ID">
                        </div>
                        <div class="dropdown-column">
                            <select name="auxiliary_role_{{ loop.index0 }}" required>
                                <option value="gerente" {% if person['role']=='gerente' %}selected{% endif %}>Gerente
                                </option>
                                <option value="motorista" {% if person['role']=='motorista' %}selected{% endif %}>
                                    Motorista
                                </option>
                            </select>
                            <button type="button" class="btn-remove danger"
                                onclick="removeAuxiliaryPerson(this)">Remover</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="add-button-wrapper">
                <button type="button" class="btn-add-person" onclick="addAuxiliaryPerson()">Adicionar Pessoa
                    Auxiliar</button>
            </div>

            <button type="submit" class="button-save">Salvar</button>
        </form>
    </div>
</main>
{% endblock %}
